#timer {
  padding-right: 1em;
}
#highscore {
  padding-left: 1em;
}
.container {
  margin-top: 5em;
  width: 50%;
}
button {
  background-color: #745e8f;
  color: white;
}
button:hover {
  background-color: #b69fd1;
}
body {
  background-color: lightgray;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
h1 {
  text-align: center;
}
#start-div {
  justify-content: center;
}
#game-over-form {
  justify-content: center;
  text-align: center;
}
#results-div {
    justify-content: center;
  }
