body {
  background-image: url(./background.jpeg);
  background-size: 100%;
}
h1 {
  text-align: center;
  padding-top: 0.5em;
}
h2 {
  padding-top: 0.5em;
}
button:hover {
  background-color: #ee88cc;
}
ul {
  list-style-type: none;
  text-align: center;
}
table {
  border-collapse: inherit;
}
.container {
  margin-top: 5em;
  width: 50%;
}
.badge {
  margin: 0.5em;
}
.btn {
  background-color: #d90492;
  color: white;
  margin-bottom: 1em;
}
.table {
  max-width: 50%;
}
#timer {
  margin-right: 1em;
  font-size: 2em;
  color: #d90492;
  background-color: white;
}
#highscore {
  margin-left: 2em;
  margin-top: 1em;
}
#start-div {
  justify-content: center;
  background-color: white;
}
#questions-div {
  justify-content: center;
  background-color: white;
}
#results-div {
  justify-content: center;
}
#game-over-form {
  justify-content: center;
  text-align: center;
  background-color: white;
}
#highscore-div {
  background-color: white;
  justify-content: center;
  text-align: center;
}
